<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "reward-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :pool %>
  <%= number_input f, :pool %>
  <%= error_tag f, :pool %>

  <%= label f, :received %>
  <%= number_input f, :received %>
  <%= error_tag f, :received %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
