.svg-triangle {
  fill: gray;
  transform: scale(0.20);
}

.month{
  position: relative;
  bottom: 42px;
  display: inline-block;
  width: 150px
}

.month-switch{
  text-align:center;
  font-size:20px;
}
